@font-face {
    font-family: 'circular-std-medium-500';
    src: url("./font/circular-std-medium-500.ttf");
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'circular-std-medium-500', sans-serif ;
}